Repository voxpupuli/puppet-mongodb, pull requests merged in 2018-09, with the labels that each got.

#485 Fallback to monogb version from fact if no explicit version got provided
  manifests/server/config.pp
  templates/mongodb.conf.2.6.erb
  templates/mongodb.conf.erb
Labels: bug

#486 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#446 add rs.slaveOk to run before the getDBs call
  lib/puppet/provider/mongodb_database/mongodb.rb
  spec/unit/puppet/provider/mongodb_database/mongodb_spec.rb
Labels: needs-feedback
