Repository voxpupuli/puppet-mongodb, pull requests merged in 2018-07, with the labels that each got.

#475 modulesync 1.9.3
  .msync.yml
  Gemfile
Labels: modulesync

#474 Fix a circular loading issue with mongodb::repo
  manifests/globals.pp
  manifests/repo.pp
  manifests/repo/yum.pp
Labels: bug

#476 release 2.2.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#477 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync
