Repository voxpupuli/puppet-mongodb, pull requests merged in 2018-10, with the labels that each got.

#492 Also autorequire mongod service in types
  lib/puppet/type/mongodb_database.rb
  lib/puppet/type/mongodb_replset.rb
  lib/puppet/type/mongodb_shard.rb
  lib/puppet/type/mongodb_user.rb
Labels: bug

#498 Revert "Fallback to monogb version from fact if no explicit version got provided"
  manifests/server/config.pp
  templates/mongodb.conf.2.6.erb
  templates/mongodb.conf.erb
Labels: bug

#501 modulesync 2.2.0 and allow puppet 6.x
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync

#503 Drop EL6 support
  manifests/params.pp
  metadata.json
Labels: backwards-incompatible

#493 Remove init.pp
  manifests/init.pp
  spec/classes/class_spec.rb
Labels: backwards-incompatible

#494 Move to Debian 9 and Ubuntu 16.04/18.04
  manifests/params.pp
  metadata.json
Labels: backwards-incompatible

#504 Drop support for mongodb versions before 2.6
  README.md
  lib/puppet/provider/mongodb.rb
  lib/puppet/provider/mongodb_user/mongodb.rb
  manifests/server/config.pp
  spec/classes/server_spec.rb
  templates/mongodb.conf.2.6.erb
  templates/mongodb.conf.erb
Labels: backwards-incompatible

#515 Fix `.sync.yml` `docker_sets` syntax
  .sync.yml
Labels: modulesync
