Repository voxpupuli/puppet-mongodb, pull requests merged in 2018-03, with the labels that each got.

#450 Bump stdlib 4.4.0->4.13.0
  metadata.json
Labels: bug

#451 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#455 Add check if scram credentials are insync with hash
  lib/puppet/provider/mongodb_user/mongodb.rb
  lib/puppet/type/mongodb_user.rb
  lib/puppet/util/mongodb_scram.rb
  spec/unit/puppet/provider/mongodb_user/mongodb_spec.rb
Labels: bug

#456 release 2.1.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
