Repository voxpupuli/puppet-mongodb, pull requests merged in 2020-02, with the labels that each got.

#432 rebased PR#308 to allow other databases in the format 'role@db' for mongodb_user
  README.md
  lib/puppet/provider/mongodb_user/mongodb.rb
  lib/puppet/type/mongodb_user.rb
  spec/acceptance/user_spec.rb
  spec/unit/puppet/provider/mongodb_user/mongodb_spec.rb
Labels: enhancement

#573 fix(is_master-fact): use --ssl if --sslPEMKeyFile or --sslCAFile is s…
  lib/facter/is_master.rb
  lib/puppet/provider/mongodb.rb
Labels: bug

#575 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
