Repository voxpupuli/puppet-mongodb, pull requests merged in 2021-08, with the labels that each got.

#616 Drop Ubuntu 16/Add Ubuntu 20 support
  metadata.json
Labels: backwards-incompatible

#617 Drop Puppet 5/Add puppet 7 support
  metadata.json
Labels: backwards-incompatible

#606 Fix MongoDB installation on RedHat family
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rubocop.yml
  .sync.yml
  .travis.yml
  Gemfile
  Rakefile
  lib/puppet/provider/mongodb.rb
  lib/puppet/provider/mongodb_user/mongodb.rb
  manifests/client/params.pp
  manifests/globals.pp
  manifests/mongos.pp
  manifests/mongos/params.pp
  manifests/mongos/service.pp
  manifests/params.pp
  manifests/server/install.pp
  metadata.json
  spec/acceptance/mongos_spec.rb
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml
  spec/acceptance/nodesets/ec2/image_templates.yaml
  spec/acceptance/nodesets/ec2/rhel-73-x64.yml
  spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml
  spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml
  spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml
  spec/acceptance/server_spec.rb
  spec/classes/mongos_spec.rb
  spec/classes/server_spec.rb
  spec/spec_helper.rb
  templates/mongos/RedHat/mongos.service-dropin.epp
Labels: bug

#611 Use Puppet-Datatype Sensitive for Passwords
  lib/puppet/functions/mongodb_password.rb
  manifests/db.pp
  manifests/server.pp
  manifests/server/config.pp
  spec/functions/mongodb_password_spec.rb
  templates/mongorc.js.erb
Labels: enhancement

#618 Modulesync 4.2.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync
