Repository voxpupuli/puppet-mongodb, pull requests merged in 2021-09, with the labels that each got.

#619 Add Debian 10 support
  manifests/globals.pp
  metadata.json
  spec/acceptance/mongos_spec.rb
  spec/acceptance/server_spec.rb
  spec/classes/client_spec.rb
  spec/classes/mongos_spec.rb
  spec/classes/server_spec.rb
Labels: enhancement

#622 Release 4.0.0
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog

#625 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync
