Repository voxpupuli/puppet-mongodb, pull requests merged in 2024-03, with the labels that each got.

#699 Use mongodb repo by default; require repo version >= 4.4
  REFERENCE.md
  data/Debian-10.yaml
  manifests/globals.pp
  manifests/repo.pp
  spec/acceptance/mongos_spec.rb
  spec/acceptance/server_spec.rb
  spec/classes/client_spec.rb
  spec/classes/globals_spec.rb
  spec/classes/mongos_spec.rb
  spec/classes/repo_spec.rb
  spec/classes/server_spec.rb
Labels: backwards-incompatible

#702 add redhat8, centos8 and debian11 support
  metadata.json
Labels: enhancement

#704 Drop Debian 10 support
  metadata.json
Labels: backwards-incompatible

#708 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#711 Debian 10 support should not be dropped yet
  metadata.json
Labels: skip-changelog

#713 Use keyring for apt repository; update dependency versions
  REFERENCE.md
  manifests/globals.pp
  manifests/repo.pp
  manifests/repo/apt.pp
  manifests/repo/yum.pp
  manifests/repo/zypper.pp
  metadata.json
Labels: backwards-incompatible
