Repository voxpupuli/puppet-mongodb, pull requests merged in 2024-04, with the labels that each got.

#718 Set default redhat dbpath to /var/lib/mongo
  REFERENCE.md
  data/Debian-family.yaml
  data/Linux-family.yaml
  data/RedHat-family.yaml
  data/Suse-family.yaml
  manifests/mongos.pp
  manifests/server.pp
  spec/classes/server_spec.rb
Labels: backwards-incompatible

#723 Provider cleanup
  REFERENCE.md
  lib/facter/is_master.rb
  lib/puppet/provider/mongodb.rb
  lib/puppet/provider/mongodb_replset/mongo.rb
  manifests/server.pp
  manifests/server/config.pp
  spec/classes/server_spec.rb
  templates/mongodb.conf.erb
Labels: backwards-incompatible

#732 Define correct repo on absence tests
  spec/acceptance/mongos_spec.rb
  spec/acceptance/server_spec.rb
Labels: skip-changelog

#730 Remove nojournal parameter; Cleanup journal management
  REFERENCE.md
  data/Debian-family.yaml
  data/Linux-family.yaml
  data/RedHat-family.yaml
  data/Suse-family.yaml
  manifests/server.pp
  manifests/server/config.pp
  spec/classes/server_spec.rb
  templates/mongodb.conf.erb
Labels: backwards-incompatible

#694 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#738 Add RedHat/CentOS 9 support
  metadata.json
Labels: enhancement

#736 Add Debian 12 support
  metadata.json
Labels: enhancement

#744 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#745 Add Rocky and AlmaLinux support
  metadata.json
Labels: enhancement

#742 feat: Add tls_invalid_certificates argument
  REFERENCE.md
  lib/puppet/provider/mongodb.rb
  manifests/server.pp
  manifests/server/config.pp
  spec/classes/server_spec.rb
  templates/mongodb.conf.erb
Labels: enhancement

#748 Add OracleLinux support
  metadata.json
Labels: enhancement

#751 Fix typo in is_master fact
  lib/facter/is_master.rb
Labels: bug

#753 modulesync 7.5.0
  .msync.yml
Labels: modulesync

#743 Fix replset and sharding integration tests
  .github/workflows/ci.yml
  .sync.yml
  lib/puppet/provider/mongodb_database/mongodb.rb
  lib/puppet/provider/mongodb_replset/mongo.rb
  lib/puppet/provider/mongodb_shard/mongo.rb
  spec/acceptance/replset_spec.rb
  spec/acceptance/sharding_spec.rb
  spec/unit/puppet/provider/mongodb_database/mongodb_spec.rb
  spec/unit/puppet/provider/mongodb_shard/mongodb_spec.rb
Labels: bug
