Repository voxpupuli/puppet-mongodb, pull requests merged in 2025-06, with the labels that each got.

#769 allow puppet/systemd 8.x
  metadata.json
Labels: enhancement

#775 remove EOL OSes
  metadata.json
Labels: backwards-incompatible

#778 Add Ubuntu 24.04 support
  metadata.json
Labels: enhancement

#779 Update default repo version to latest supported by OS
  REFERENCE.md
  data/Debian-11.yaml
  data/Debian-family.yaml
  data/Linux-family.yaml
  data/RedHat-family.yaml
  data/Suse-12.yaml
  data/Suse-family.yaml
  manifests/globals.pp
  manifests/repo.pp
  spec/classes/server_spec.rb
Labels: enhancement, backwards-incompatible

#783 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog
